<!DOCTYPE HTML>
<html>
<head>
    <title>Health Diary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    {{>layout/header}}

    <h1>Main page</h1>

    {{>layout/footer}}
</body>
</html>