{{>layout/header}}
{{! 유저의 정보 불러오기 -  }}

<h2>Profile</h2>
<p>My name is name</p>
<p>My age is age</p>
<p>My sex is sex</p>

<div>
    <a href="/exercise/update" class="btn btn-success" role="button">Exercise Update</a>
    <a href="/exercise/delete" class="btn btn-danger" role="button">Exercise Delete</a>
</div>



{{>layout/footer}}